.Header__Bar {
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: flex;
    color: white;
    height: 60px;
    &--container {
        width: 80%;
        margin: auto;
        display: flex;
    }
    &--left {
        display: flex;
        flex-grow: 1;
        h1 {
            margin-right: 10px;
        }
    }
    &--right {
        display: flex;
        float: right;
        h2 {
            margin-right: 10px;
        }
    }
}